*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
a{
  text-decoration: none;
  display: block;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
   @media screen and (max-width: 400px) {
    width: 375px;
  }
}
ul{
    list-style: none;
}
.parent{
  padding: 10px;
}
.flex {
  align-items: center;
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}
.nav{
    display: flex;
    gap: 15px ;
}
.child{
    margin-right: 15px;
}
.header-1{
    display: flex;
    margin: 0 auto;
    padding-bottom: 5px;
    margin-bottom: 5px;
    justify-content: center;
}
.new{
  background-color: black;
  .hero{
    background-color: black;
    color: white;
    width: 1250px;
    margin: 0 auto;
   .container{
    margin-left: 150px;
     h1{
        width: 450px;
        font-size: 40px;
        margin-bottom: 80px;
        
        
    }
    .p1{
       margin-right: 40px;
        width: 550px;
        margin-bottom: 50px;
        line-height: 1.8rem;
    }
    .p2{
        width: 600px;
    }
    .hero-img{
        width: 600px;
        transform: translateX(170px);
    }
   }
}
}
.bac{
  padding-top: 40px;
  background-color: black;
}
.main-2{
  background-color: black; .sport{
      width: 600px;
    }
    .text-main{
      color: white;
      margin-left: 150px;
      width: 450px;
      line-height: 2.2rem;
     h2{
      font-size: 18px;
     }
     p{
      font-size: 18px;
     }
    }
}
.main-3{
  padding-top: 120px;
  color:white;
  h2{
    width: 500px;
    font-size: 55px;
    
  }
  .sports{
    width: 600px;
  }
}

.parents {
  display: grid;
  .img{
    width: 290px;
  }
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "a2 a2 a2 a2"
    "a3 a4 a5 a6";
    h2{
      margin-top: 80px;
      margin-bottom: 40px;
      grid-area: a2;
    }
    .card-1{
      width: 250px;
     grid-area: a3;
     p{
      margin-bottom: 5px;
      margin-top: 5px;
     }
    }
    .card-2{
      width: 250px;
     grid-area: a4;
        p{
      margin-bottom: 5px;
      margin-top: 5px;
     }
    }
    .card-3{
      width: 250px;
     grid-area: a5;
        p{
      margin-bottom: 5px;
      margin-top: 5px;
     }
    }
    .card-4{
      width: 250px;
     grid-area: a6;
        p{
      margin-bottom: 5px;
      margin-top: 5px;
     }
    }
  }
  footer{
    padding-top: 20px;
    background-color: #F1F1F1;
    a{
      color:#7E7E7E;
       margin-top: 20px;
    }
  }
  .row{
    width: 450px;
  }
  .rasmlar{
    gap: 25px;
  }